input.form-control[type="text"],
input.form-control[type="email"],
input.form-control[type="password"] {
    outline: none !important;
    box-shadow: none !important;
    padding-left: 10px !important;
    height: 35px !important;
    border: none !important;
    border-bottom: 1px solid #a19d9d79 !important;
}
